# Day Objectives(space after #)-title
## Introduction To Jupiter Notebook(space after #)-title1(similarly ### for title 2....so on)
**BOLD** 

*ITALIAN*    //no space for bold italian and text

*TEXT

<img src="jupyter.png">


1. Ordered list 1

 2. Ordered list 2

 3. Ordered list 3

## Python Basics

In [ ]:
# ->for single line comment
'''for multy line commands
vxdhsqgc
wgdyhwqgdyu  
wgdugg'''#-> for multi lines
##->also for command line

In [ ]:
n   # used the variable declared below

In [ ]:
##variable Assignment
n=123
n

In [ ]:
n1=n*n #can use the  variable declared in a cell in any cell
n1

In [ ]:
#multi variable assignment
n=n1=n2=n3=123
n
n1
n2
n3

In [ ]:
n=45
n

In [ ]:
n1

In [ ]:
n # can use same variable name in different cells

In [ ]:
n=3 #can use same variable in same cell
n=4
n#but the output will be existing value

In [ ]:
n=10
n#n value will not be printed in output
n2=12
n2#it prints only n2 value

In [ ]:
#to resolve above cell problem
n=10
print n
n2=12
n2

In [ ]:
#to resolve above cell problem
n=10
print(n) #now it prints the output 
n2=12
n2 #no need to use print statement for last command

In [ ]:
#Assigning values to variables
a=10  #integer
a

In [ ]:
b=10.98 #float
b

In [ ]:
string="jupyter" #to assign string value to the variable
string

In [ ]:
string='jupyter'
string

In [ ]:
type(string)  #to check the datatype of a voriable

In [ ]:
type(b)

In [ ]:
type(a)

## type conversions

In [ ]:

x=10
type(x)

In [ ]:
#now converting integer into float
float(x)

In [ ]:
str(x) #int to string

In [ ]:
print(type(x)) #datatype of a variable doesnot change

In [ ]:
y=str(x) #we need to asign it to another variable to check the datatype after type conversion
print(type(y))

## Basic Arthimetic Operations

In [ ]:

##ADD
a=10
b=20
a+b

In [ ]:
10+20

In [ ]:
#subtract
a-b

In [ ]:
10-20

In [ ]:
k=-2
j=-4
k-j

In [ ]:
-2--4

In [ ]:
print(a*b) #multiplication

In [ ]:
b/a #division

In [ ]:
b//a # for'/' float value will be produced in output   for'//' will give integer value by eliminating the values after point

In [ ]:
print(b%a) #modular remainder will be the output

In [ ]:
a='k'type(a)

In [ ]:
a='k'
type(a)

In [ ]:
int(str(a))   #string value cannot be converted directly into another type

In [ ]:
y=int(str(a))

In [ ]:
int(a)
y=type(a)

In [ ]:
y=int(a)
type(y)

In [ ]:
# Here age is a string object
age = "18"
print(age)
# Converting string to integer
y = int(age)
print(y)

## Indentation In python
### indentation is nothing but space or tab
### Conditional Statements
#### if ,if else, if elif else, nested if

In [ ]:
n=16
if(n%2==0):
    print("even")

In [ ]:
n=23
if(n%2==0):
    print("even")
else:
    print("odd")

In [ ]:
a=int(input())
b=int(input())
if a>b:
    print("a is big")
else:
    print("b is big")

In [ ]:
a=int(input())
b=int(input())
c=a**b
print(c%10)

In [ ]:
a=int(input())
b=int(input())
c=a**b
print(c%10)

In [ ]:
s="python"
s

In [ ]:
len(s)

In [ ]:
#indexing
s[1]

In [ ]:
s1="python program is a very powerful language"
print(s1[len(s1)-1])
s1[-1]

In [ ]:
k="name"
print(len(k))
print(k[len(k)-1])
print(k[-1])
print(k[-2])

In [ ]:
s="python is very efficient language"
print(s[-1])
print(s[len(s)-1])

In [ ]:
print(s[0:6])
print(s[50:])

In [ ]:
print(s[-9:])

In [ ]:
print(s[1::2])  #using two slicing operators we printed even position characters  here 2 is the value ++2 have to increment

In [ ]:
print(s[::-1])  #to print a string in reverse order

In [ ]:
print(s[::-2]) #print even position characters in reverse order

In [ ]:
print(s[::-3])

## string methods

In [ ]:
dir(str)

In [ ]:
#capitalise
#changes the character of first word into capital
a="python workshop"
b=a.capitalize()
print(a.capitalize())
print(a)
print(b)

#title changes first character of every word
print(a.title())

#upper
print(a.upper())
print(a)

#lower
print(a.lower())

In [ ]:
#isupper
print('A'.isupper())
a='A'
print(a.isupper())

#lower
a='a'
print(a.islower())
print('A'.islower())

In [ ]:
#isalpha
a.isalpha() #checks only whether the string is character or not
b="1324dgsvcjh"
print(b.isalpha())

#isnumeric
print(b.isnumeric())
print(b.isalnum())
print(b.isdigit())

In [ ]:
#to check whether the string is palindrome or not
a=input()
if(a==a[::-1]):
    print("palindrome")

In [ ]:
# strip  ignores space sin strings
a="     python"  #ignores left spaces
print(a.strip())
print(a.lstrip())
b="python      "  # ignores right spaces
print(b.rstrip())

#find
print(a.find('p'))
print(a.find('w'))  #by default it gives -1

#count
print(a.count('h'))
print(a.count('w'))  #by default it produces 0

In [ ]:
s1=input()
s2=input()
if(s1==s2):
    print("True")
else:
    print("False")

# functions

In [ ]:
#functions in python are defined by a keyword "def"
##write a program to find leap year

def isleapyear(year):
    if((year%400==0) or (year%100!=0 and year%4==0)):
        print("leap year")
    else:
        print("non leap year")
y=int(input("enter year:"))
isleapyear(y)

In [ ]:
def check_divisibility(a):
    if(a%10==0 and a%4!=0):
        print("TRUE")
    else:
        print("FALSE")
b=int(input())
check_divisibility(b)

In [ ]:
def greatest(a,b,c):
    if(a>b and a>c):
        print(a)
    elif(b>c):
        print(b)
    else:
        print(c)
x=int(input())
y=int(input())
z=int(input())
greatest(x,y,z)

In [ ]:
def print_num(n):
    for i in range(1,n+1):
        print(i)
y=int(input())
print_num(y)

In [ ]:
def even_num(n):
    for j in range(1,n+1):
        if(j%2==0):
            print(j)
            
a=int(input())
even_num(a)

In [ ]:
# odd num 1 to 40 skip 2
def odd_num(n):
    for i in range(1,n+1,3):
        if(i%2!=0):
            print(i)
            
c=int(input())
odd_num(c)

In [ ]:
#buffer over
a=int(input())
b=int(input())
c=a**b
if(c<10000):
    print(c%10)

In [ ]:
def factors(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i)
factors(6)

In [ ]:
def factorial(n):
    if(n<0):
        print("factorial not posible")
    if(n==1 or n==0):
        return 1
    else:
        return(n*factorial(n-1))
x=int(input())
factorial(x)

In [ ]:
def greatest(a,b,c):
    if(len(a)>len(b) and len(a)>len(c)):
        print(a,"is longest")
    elif(len(b)>len(c)):
        print(b,"is longest")
    else:
        print(c,"is longest")
x=input()
y=input()
z=input()
greatest(x,y,z)

In [ ]:
a="Bhavitha Singamsetty"
a.split()

In [ ]:
a=input("enter a string with spaces:")
b=a.split()
print("no.of words:",len(b))

## list
## tuples
## dictionary

In [ ]:
#list is represented with square brackets
#list mutable
#forward indexing and backward indexing
l=[1,3.3,"satheesh",[1,2,3]]
print(l)

#data type
print(type(l))

In [ ]:
print(l[3][2])  #list with in list indexing
print(l[:]) #Entire string elements

In [ ]:
l=[1,2,3,5,8]  #adding elements in list
s=0
for i in l:  #list is iteratable
    s=s+i
print(s)

#built in functions  SUM
print(sum(l))

In [ ]:
#include<stdio.h>
main()
{
    printf("Hello world!");
}

In [ ]:
a=2.2  #omits negative value
print(abs(a))

print(abs(-345))

##round
print(round(a))  #a=2.2
a=3.9
print(round(a))
a=-56.8
print(round(a))
print(round(abs(a)))
b=[1,'budvhbdj',456]
print(len(b))
b=[1,2,3,4,15,67,3,4]
print(sum(b))
print(chr(65)) #alphabet that belongs to the given ascii num
print(chr(97))
print(ord('A')) #prints ascii value of given alphabet
print(bin(4))  #prints binary value
print(hex(15)) #prints hexadecimal value
s=[3,4,6,7,8]
print(sorted(s))  #sort elements in the list
print(sorted(s,reverse=True))  #prints reverse of sorted list

In [ ]:
#using built in functions
print(min(s))
print(max(s))
#without using built in functions
a=sorted(s)
print(s[len(a)-1])

In [ ]:
b=[1,2,55,3,0]
print(l[1::2])  #print even placed values

In [ ]:
dir(list)

In [ ]:
#append extend insert
#insertion of elements into list

#remove pop clear 
#deletes elements in list
#del
#deletes entire list

#count 
#prints how many times avalue is repeated

#index
#prints index value
#copy copys list

In [ ]:
l=[]
l.append(100)  #inserts element at end
print(l)
l.append(200)
print(l)       #here list get empty for each run

In [ ]:
l.append(100)  #inserts element at end
print(l)
l.append(200)
print(l)  #here it saves the value in list beacuse we are not emptying the list

In [ ]:
a=[1,2,3,4]
l.append(a)
print(l)
l.append([1,2,3,4,5])

In [ ]:
l.extend(1)
print(l)

In [ ]:
l.extend([1,2,3])  #adds at end
print(l)

In [ ]:
l.insert(0,15)  #inserts at partcular position here 0 is the position
print(l)

In [ ]:
name=[]
age=[]
list1=[]
for i in range(3):
    l=input("enter name:")
    name.append(l)
    k=int(input("enter age:"))
    age.append(k)
for i in range(3):
    print(name[i],age[i],end="")
for i in range(3):
    list

In [ ]:
#index
l=[1,2,3,4]
l.insert(0,100)
print(l)
#reversing the list
l.reverse()
print(l)

#sorting
l.sort()
print(l)

#sorting in descending order
l.sort(reverse=True)
print(l)

#pop  removes end element and returns the poped element
print(l.pop())  #by default it removes end element
print("after pop",l)

print(l.pop(1))  #removing with index
print("after poping",l)

#remove removes the particular element we passed
l.remove(3)
print("after removing 3",l)

 #l.remove(10) #out of values  throws error

#clear removes entire elemnts n the list
l.clear()
print(l)

#del removes entire list
del(l)
print(l)

In [ ]:
#count
l=[1,2,1,4,5,5,5]
print(l.count(5))
print(l.index(5))
print(l.index(5,6))

In [ ]:
#copy
l=[1,2,3]
b=l
print(l)
print(b)
l[0]=100
print(l)
print(b)
a=l.copy()
print(l)
print(a)
l[0]=200
print(l)
print(a)

In [ ]:
lis=input()
a=lis.split()
print(a)
b=list(map(int,a))

# Tuple
## ()
## immutable

In [ ]:
t=(1,2,3)
print(t[0:])
print(sum(t))
print(min(t))
print(max(t))

In [ ]:
dir(tuple)

In [ ]:
num=input().split()
num2=list(map(int,num))
num2

In [ ]:
a=("Bhavitha","1323") #assigning names to the elements in the tuple
(name,mobile)=a

In [ ]:
name

In [ ]:
lis=["name","num"]  #assigning names for list
(n1,n2)=lis

In [ ]:
n1

## {key:value,key1:value}
# Dictionaries

In [ ]:
dir(dict)

In [ ]:
#key and value together known as item
d={"name":"sai","rollno":'18hp1a1228',"age":22}
print(d.values())  #prints values in the dictionary
print(d.keys())  #prints keys
print(d.items()) #print items

In [ ]:
d["name"]  #returns value of the given key

In [ ]:
d["name"]="kiranmai"  #mutable changing values
d

In [ ]:
d["gender"]="F"  #adding elements
d

In [ ]:
#using get method
d.get("name")

In [ ]:
#update
d.update({"name":"sai"})
d

In [ ]:
d["names"]=d.pop("name")
d

In [ ]:
d.setdefault('a')
d

In [ ]:
l=[1,2]
a=[5,5]
x=dict(zip(l,a))
print(x)
x=dict(zip(a,l))
x

In [ ]:
l=input().split()
a=input().split()
d=dict(zip(l,a))
print(d)

In [ ]:
word=input()
wordlist=[]
wordlist.append(word)
no_of_letters=len(word)
count=0
vowel=[]
for i in wordlist:
    if(i=='a' or i=='e' or i=='o' or i=='u' or i=='i' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        
        vowel.append(i)
print("no.of letters=",no_of_letters)
print("no.of vowels=",count)
percent=(count//5)*100
print("percentage of vowels=",percentage,"%")
d=dict(zip(vowel,percent))
print(d)

In [ ]:
##check whether the given number is in range of lower bound and uppper bound
def check_num(a,b,num):
    if(num>a and num<b):
        print("yes the given num is in b/w lower bound=",a,"upper bound",b)
    else:
        print("no the given num is in b/w lower bound=",a,"upper bound",b)


lb=int(input("enter lower bound:"))
ub=int(input("enter upper bound:"))
n=int(input("enter num to be found:"))
check_num(lb,ub,n)

In [ ]:
def no_of_digits(s):
    print(len(s))
s1=input()
s=s1.split()
no_of_digits(s)

In [ ]:
def find_no():

    n=input()
    print(len(n))

    n1=int(input())
    count=0
    while(n1>0):
        n1=n1//10
        count=count+1
    print(count)    
find_no()

In [ ]:
#leap year with in given range
def isleapyear(lb,up):
    for i in range(lb-1,ub+1):
        if((i%400==0) or (i%100!=0 and i%4==0)):
            print(i,"leap year")
        
    
        
lb=int(input("enter lower bound:"))
ub=int(input("enter upper bound:"))
isleapyear(lb,ub)

In [ ]:
#prime
def prime_or_not(n):
    for i in range(2,n+1):
        if(n%i==0):
            return False
        else:
            return True
n=int(input("enter n value:"))
prime_or_not(n)

In [ ]:
#prime within range
def prime_in_range(lb1,ub1):
    for i in range(lb1,ub1+1):
        if(prime_or_not(i)):
            print(i)
            
lb=int(input())
ub=int(input())
prime_in_range(lb,ub)

In [13]:
#given string equal to number
str1=input()
n=int(input())
if(str(n)==n):
    print("true")
else:
    print("false")

one
1
false

In [ ]:
#perfect number
#factors equal to sum
def perfect_num(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            sum=sum+i
    if(sum==n):
        return True
    else:
        return False
n=int(input())
perfect_num(n)

In [ ]:
def perfect_num(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            #print(i,end=' ')
            sum=sum+i
    #print("\nsum=",sum)
    if(sum==n):
        return True
    else:
        return False
n=int(input())
perfect_num(n)

In [ ]:
def perfect_num_in_range(lb,ub):
    lb=int(input())
    ub=int(input())
    for i in range(lb,ub+1):
            if(perfect_num(i)):
                print(i)
    
perfect_num_in_range(lb,ub)

In [2]:
#given two variables if one of them or sum ot those two is equal to 10 return true else false
def check(a,b):
    if(a==10 or b==10 or a+b==10):
        return True
    else:
        return False
a=int(input())
b=int(input())
check(a,b)

10
12

True

In [ ]:
#concatenate two strings
s1="Hello"
s2="World"
print(s1+s2)

In [6]:
#li=[10,9,8,7,6]
#sort in ascending order
#find maximum element in the list
#second largest element

l=[1,2,3,2,1,23,4,5,6,78]
l.sort()
print(max(l))
print(min(l))
print(l)
print(l[-2])
print(l[-5])

78
1
[1, 1, 2, 2, 3, 4, 5, 6, 23, 78]
23
4

In [12]:
##k=[2,4,4,4,6,6,3]
##print unique list=[2,3,4,6]
#sort
#max element
#min element
#second largest element

li=[2,5,6,7,4,3,2,1,7,8,9,5]
l=[]
for i in li:
    if(i not in l):
        l.append(i)
print(l)
l.sort()
print(l)
print(max(l))
print(min(l))
print(l[-2])

[2, 5, 6, 7, 4, 3, 1, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1
8

In [ ]:
str=input()
num=int(input())

switch(num):
    case:1
        return One
        break
    case:2
        return two
        break
    case:3
        return three

In [ ]:
count=0
sum=1234
while(sum>0):
  sum=sum//10
  
  n=sum%10
  if(count==2):
    print(n)
  count+=1